<%- include('../partials/header') %>




<h1 class="mylist">My lists</h1>

<br><br>
<form id="new-form" action="/lists" method="POST">
    <label>List Name:</label>
    <input type="text" name="name">
    <input type="submit" value="Create List">
</form>
<% lists.forEach(function(l) { %>
    <%= l.name %>
<div class="row">
    <div class="column">
        <div class="cardlayout">
                <div class="cardcontent">
                    <img id="divimg"src="https://i.imgur.com/utD8k6r.jpg" alt="">
                    <h5 class="card-title">Long Island Iced Tea</h5>
                    <p class="card-text">The old fashioned is a cocktail made by muddling sugar with bitters and water, adding whiskey, and garnishing with ...</p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        <br>
    </div>
    <div class="column">
            <div class="cardlayout">
                <div class="cardcontent">
                    <img id="divimg" src="https://i.imgur.com/EJucFsZ.jpg" alt="">
                    <h5 class="card-title">Adios MF</h5>
                    <p class="card-text">The old fashioned is a cocktail made by muddling sugar with bitters and water, adding whiskey, and garnishing with ...</p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        <br>
    </div>
    <div class="column">
            <div class="cardlayout">
                <div class="cardcontent">
                    <img id="divimg" src="https://i.imgur.com/JMc7rPj.jpg" alt="">
                    <h5 class="card-title">Old Fashioned</h5>
                    <p class="card-text">The old fashioned is a cocktail made by muddling sugar with bitters and water, adding whiskey, and garnishing with ...</p>
                    <a href="#" class="btn btn-primary">Details</a>
                </div>
            </div>
        <br>
    </div>
    <div class="column">
        <div class="cardlayout">
            <div class="cardcontent">
                <img id="divimg" src="https://i.imgur.com/JMc7rPj.jpg" alt="">
                <h5 class="card-title">Old Fashioned</h5>
                <p class="card-text">The old fashioned is a cocktail made by muddling sugar with bitters and water, adding whiskey, and garnishing with ...</p>
                <a href="#" class="btn btn-primary">Details</a>
            </div>
        </div>
</div>
<div class="column">
    <div class="cardlayout">
        <div class="cardcontent">
            <img id="divimg" src="https://i.imgur.com/JMc7rPj.jpg" alt="">
            <h5 class="card-title">Old Fashioned</h5>
            <p class="card-text">The old fashioned is a cocktail made by muddling sugar with bitters and water, adding whiskey, and garnishing with ...</p>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
    </div>
</div>
<div class="column">
    <div class="cardlayout">
        <div class="cardcontent">
            <img id="divimg" src="https://i.imgur.com/JMc7rPj.jpg" alt="">
            <h5 class="card-title">Old Fashioned</h5>
            <p class="card-text">The old fashioned is a cocktail made by muddling sugar with bitters and water, adding whiskey, and garnishing with ...</p>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
    </div>
</div>
<div class="column">
    <div class="cardlayout">
        <div class="cardcontent">
            <img id="divimg" src="https://i.imgur.com/JMc7rPj.jpg" alt="">
            <h5 class="card-title">Old Fashioned</h5>
            <p class="card-text">The old fashioned is a cocktail made by muddling sugar with bitters and water, adding whiskey, and garnishing with ...</p>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
    </div>
</div>
<div class="column">
    <div class="cardlayout">
        <div class="cardcontent">
            <img id="divimg" src="https://i.imgur.com/JMc7rPj.jpg" alt="">
            <h5 class="card-title">Old Fashioned</h5>
            <p class="card-text">The old fashioned is a cocktail made by muddling sugar with bitters and water, adding whiskey, and garnishing with ...</p>
            <a href="#" class="btn btn-primary">Details</a>
        </div>
    </div>
</div>
<% }) %>
</div>
    <!-- <div class="col-sm-6">
            <% lists.forEach(function(l) { %>
        <div class="card">
                <%= l.name %>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <% }) %>
</div> -->



<br><br>
<form id="new-form" action="/lists" method="POST">
    <label>List Name:</label>
    <input type="text" name="name">
    <input type="submit" value="Create List">
</form>



<%- include('../partials/footer') %>