</main>
<footer id="footer">
    <h3 class="spaceten fontstyle right">Cocktail Planner</h3>
    <p class="fontstyle left">Terms of Service</p>
    <p class="fontstyle left">Contact Us</p>
</footer>
</body>
</html>