<%- include('../partials/header') %>

<br>
<div>
  <h1 class="mylist">Welcome to Cocktail Planner</h1>
</div>
<br>
<br>
<br>
<h4>
  To get started, login and create your own list with cocktails of your choosing.
</h4>

<img class="frontimg" src="https://dg38gzoej82xh.cloudfront.net/sites/default/files/styles/image_gallery_xl/public/images/node/article/18-barman-behind-bar.jpg?itok=VgQywy7g" alt="">

<br><br><br>
<%- include('../partials/footer') %>