<%- include('../partials/header') %>


<div>
    <h1 class="mylist">
        he
    </h1>
    <form id="new-form" action="/cocktails" method="POST">
        <label>Image Url:</label>
        <input type="text" name="image">
        <br>
        <label>Name:</label>
        <input type="text" name="name">
        <br>
        <label>Description:</label>
        <input type="text" name="description">
        <br>
        <label>Ingredient:</label>
        <input type="text" name="ingredients">
        <br>
        <input type="submit" value="Create Cocktail">
      </form>
</div>


<%- include('../partials/footer') %>