body {
  margin: 0;
  height: 100vh;
  display: grid;
  z-index: 0;
  background-color: #B8C0C2;
  grid-template-rows: 70px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}
h1 {
  padding-right: 50px;
}

body > nav {
  grid-area: nav;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  /* justify-content: space-between; */
  align-items: center;
  padding: 0 20px 0 30px;
}

.logo {
  display: flex;
  margin-right: auto;

}

.space {
  width: 70px;
  padding-right: 10px;
}
.spaceten {
  padding-right: 500px;
}

div > img {
  object-fit: contain;
}

a {
  color: #878f91;
  text-decoration: none;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

a {
  padding-right: 20px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;  
}

#footer {
  display: flex;
  position: fixed;
  background-color: white;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  z-index: 1;
}

#header {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.5rem;
  z-index: 1;

}

/* main {
  padding-top: 80px;
} */

p {
  padding-top: 5px;
}

.fontstyle {
  color: #878f91;
}

nav > a {
  margin: 15px;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
}


nav > a:hover:not(.active) {
  color: white;
  background-color: #878f91;
}

nav > a.active {
  color: black;
  cursor: default;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
  width: 1000px;
}


.left {
  padding-right: 15px;
}

.right {
  padding-left: 15px;
}

.top {
  padding-top: 10px;
}

.mylist {
  padding-top: 60px;
  padding-left: 30px;
}

.mytitle {
  padding-top: 80px;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {margin: 0 -5px;}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.cardcustom {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
  }
}

.cardcontent {
  flex: 1 1 auto;
}

.cardlayout {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  padding: 5px;
  text-align: center;
  background-color: #f1f1f1;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  margin: 5%;
}

.listname {
  font-weight: bold;
  color: rgb(87, 87, 87);
  padding-top: 10px;
}

.divimg {
  width: 150px;
  border-radius: 15px;
  padding-bottom: 10px;
}

.datpad {
  padding-right: 10px;
}

.button-green {
  color: #00c851 !important;
  background-color: #f1f1f1 !important;
  border: 2px solid #00c851 !important;
  /* box-shadow: 5px 10px; */
}

.button-red {
  color: #ff3547 !important;
    background-color: #f1f1f1 !important;
    border: 2px solid #ff3547 !important;
}

.marginbot {
  margin-bottom: 0px !important;
}

.margintop {
  margin-top: 10px !important;
  padding-top: 0px !important;
}


.list-group {
  margin: 0 2%;
}

.fillwhite {
  background-color: white;
}

#rowinline {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

@media (min-width: 576px) {
.colcustom {
    flex: 0 0 auto;
    width: 33.33333333%;
    display: inline-flex;
    flex-wrap: wrap;
}
}

.cocktail-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 610px;
  width: 595px;
  margin: auto;
  grid-column-gap: 20px;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  border: red solid 5px;
  background-color: white;
}

.col-lg-6 {
  padding-bottom: 50px;
}

.listcard {
  background-color: white;
}

#borderimg {
  border-radius: 10px;
}

.listcard {
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  margin-top: 10px;
  /* border: 2px solid black; */
}
.listlist {
  background-color: #cccccc;
  /* border: 2px solid black; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 20px;
}

.aligntogether {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  padding-bottom: 5px;
}

.description {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.frontimg {
  width: 100vw;
  height: 64.7vh;
}

.grey-gradient {
  background-color: #ffffff;
  background-image: linear-gradient(315deg, #ffffff 0%, #889092 74%);
}

.form-gradient .header {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}
.form-gradient input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  box-shadow: 0 1px 0 0 #fd9267;
}
.form-gradient input[type=text]:focus:not([readonly]) + label {
  color: #4f4f4f;
}
.form-gradient textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #fd9267;
  box-shadow: 0 1px 0 0 #fd9267;
}
.form-gradient .md-form textarea.md-textarea:focus:not([readonly])+label {
  color: #4f4f4f;
}


.form-dark .md-form label {
  color: #fff;
}
.form-dark input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  -webkit-box-shadow: 0 1px 0 0 #00C851;
  box-shadow: 0 1px 0 0 #00C851;
}
.form-dark input[type=text]:focus:not([readonly]) + label {
  color: #fff;
}
.form-dark textarea.md-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #00C851;
  box-shadow: 0 1px 0 0 #00C851;
  color: #fff;
}
.form-dark textarea.md-textarea  {
  color: #fff;
}
.form-dark .form-control, .form-dark .form-control:focus {
  color: #fff;
}
.form-dark .md-form textarea.md-textarea:focus:not([readonly])+label {
  color: #fff;
}

.addpad {
  padding: 5px;
}